:root {
  // Отступы
  --mog-desktop-padding: 32px;
  --mog-tablet-padding: 24px;
  --mog-mobile-padding: 16px;

  --mog-medium-padding: 8px;
  --mog-small-padding: 4px;

  --mog-medium-br: 8px;
  --mog-small-br: 8px;


  // Цвета
  --mog-black: #525266;

  --mog-blue: #33ccff;
  --mog-yellow: #ffbf00;
  --mog-green: #16d977;
  --mog-green: #16d977;
  --mog-red: #ff667f;

  --mog-gray-100: #8d8da6;
  --mog-gray-75: #b8b8cc;
  --mog-gray-50: #e9e9f2;
  --mog-gray-25: #f5f5fa;
  --mog-gray-0: #f7f9fc; 
}